
@import url('https://fonts.googleapis.com/css?family=Abel%7CAnton');

* {
    box-sizing: border-box;
}

.font-abel{
    font-family: 'Abel', sans-serif;
}
.font-anton{
    font-family: 'Anton', sans-serif;
}

.logo{
    background-image: url("../images/logo.jpg");
}

.circular {
    border-radius: 20em;

}
.icon-size{
    width: 105px;
    height: 105px;
}
.icon-pill{
    width: 18px;
    height: 18px;
}
.navbar-brand{
    font-size: 1rem;
}
.circle-text{

}
.bg-red{
    background-color:#E6563B ;
}
.bg-orange{
    background-color: #eb9d3a;
}
.bg-green{
    background-color: #7cb06c;
}
.bg-blue{
    background-color: #00aba9;
}
.bg-whiteish{
    background-color: #f0f0f0;
}
.bg-grey{
    background-color: #e6e6e6;
}

.border-white {
    border: solid white .35rem !important;
}

.border {
    border: solid #e6e6e6 .35rem !important;
}
.div-text-center {
    padding-top: 2rem;
}

.col-6{
    flex:none;
}